<section class="featured-section">
    <h2>{{ featured_movie.title }}</h2>

    <div class="featured-content">

        <div class="featured-img">
            <img src="{{ featured_movie.poster_url }}" alt="{{ featured_movie.title }}">
        </div>

        <div class="featured-details">
            <p class="synopsis">{{ featured_movie.description }}</p>

            <div class="button-group">

                <a href="/movie/{{ featured_movie.id }}" class="btn">
                    Details
                </a>

                <a href="https://www.youtube.com/results?search_query={{ featured_movie.title }} trailer"
                   target="_blank"
                   class="btn">
                   Watch Trailer
                </a>

            </div>
        </div>

    </div>
</section>