<div class="header">

  <a href="/">
    <div class="headerItem" id="hub">HUB</div>
  </a>

  <div id="search">
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search...">
    </form>
  </div>


  <div class="headerItem" id="user-card">

    {% if session.get('id') %}
      <div onclick="toggleDropdown()" style="cursor: pointer;">
        Welcome, {{ username }} &#9662;
      </div>

        <div id="dropdown-menu" class="dropdown-content">
          <p><strong>{{ username }}</strong></p>
        <hr>

          <a href="/profile">My Profile</a>

          {% if session.get('is_admin') %}
          <a href="/admin">Admin Panel</a>
          {% endif %}

          <a href="/logout" style="color: red;">Sign Out</a>
        </div>
      </div>

    {% else %}
      <a href="/login" id="loginLink">Login/Signup</a>
    {% endif %}

  </div>

</div>

{% if show_nav != False %}
<nav class="navbar">
  <ul>

    <li class="nav-item"><a href="/">Movies</a></li>
    <li class="nav-item"><a href="/tv">TV Shows</a></li>
    <li class="nav-item"><a href="/people">People</a></li>

    {% if username %}
    <li class="nav-item"><a href="/watchlist">Watchlist</a></li>
    {% endif %}

  </ul>
</nav>
{% endif %}