{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="main-content">
        {% include 'featuredMovie.html' %}
        <section class="popular-section">
            <h2 style="margin-bottom: 0px;">Popular Movies/Shows</h2>
            <div class="poster-grid">
            {%for movie in popular_movies %}
                {% include 'poster.html' with context %}
            {% endfor %}
            </div>  
        </section>
        
    </div>
    
{% endblock %}