{% extends 'base.html' %}

{% block title %}{{ username }}'s Watchlist{% endblock %}

{% block content %}
{% include 'header.html' %}

<div id="watchlist-container">
    <h2>{{ username }}'s Watchlist</h2>
    {% if watchlist %}
        <div class="poster-grid">
            {% for movie in watchlist %}
                {% include 'poster.html' with context %}
            {% endfor %}
        </div>
    {% else %}
        <p>Your watchlist is currently empty. Start adding movies and shows to keep track of them!</p>
    {% endif %}
</div>
{% endblock %}
